@model AphidBT.Models.ForgotPasswordViewModel
@{
  Layout = null;
  ViewBag.Title = "Forgot your password?";
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="~/Images/aphid-icon_40x40-96.png">
  <title>Aphid BT - The Ultimate Bug Tracker</title>

  <!-- Bootstrap Core CSS -->
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="~/Content/style.css" rel="stylesheet" />

  <!-- You can change the theme colors from here -->
  <link href="~/Content/blue.css" rel="stylesheet" />

  <link href="~/Content/pages.css" rel="stylesheet" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>


  <!-- ============================================================== -->
  <!-- Main wrapper with content
  <!-- ============================================================== -->
  <section id="wrapper">
    <div class="login-register" style="background-image: url(/Images/login-register.jpg);">
      <div class="login-box card">
        <div class="card-body">
          <section id="forgotPwForm">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-material", role = "form" }))
            {
              @Html.AntiForgeryToken()
            <div class="row justify-content-between align-content-center">
              <div class="col-10 align-self-center">
                <h3 class="box-title">Password Recovery</h3>
              </div>
              <div class="col-2 m-b-20">
                <img src="~/Images/aphid-icon_40x40-96.png" />
              </div>
            </div>
              @Html.ValidationSummary("", new { @class = "text-danger" })

          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" type="text" placeholder="Enter Email Address" name="Email" />
              @*@Html.LabelFor(m => m.Email, new { @class = "col-12 control-label" })*@
              @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
              <small class="form-control-feedback"> A password recovery link will be sent to you. </small>
            </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-info" value="Send Link" />
              </div>
            </div>
            }
</section>
        </div>
      </div>
    </div>
  </section>
  <!-- ============================================================== -->
  <!-- End Main wrapper and content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Scripts -->
  <!-- ============================================================== -->
  <script src="~/Scripts/jquery.min.js"></script>
  <script src="~/Scripts/popper.min.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>
  <script src="~/Scripts/jquery.slimscroll.js"></script>
  <script src="~/Scripts/waves.js"></script>
  <script src="~/Scripts/sidebarmenu.js"></script>
  <script src="~/Scripts/sticky-kit.min.js"></script>
  <script src="~/Scripts/jquery.sparkline.min.js"></script>
  <script src="~/Scripts/custom.min.js"></script>
  <script src="~/Scripts/jQuery.style.switcher.js"></script>
  <script src="~/Scripts/owl.carousel.min.js"></script>

</body>

</html>