@using AphidBT.Helpers
@using AphidBT.Models

@model IEnumerable<ApplicationUser>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="contact-page-aside">
          <div class="left-aside bg-light-part">
            <ul class="list-style-none">
              <li class="box-label">
                <a href="javascript:void(0)">All Members <span>123</span></a>
              </li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Admins <span>103</span></a></li>
              <li><a href="javascript:void(0)">Project Manager <span>19</span></a></li>
              <li><a href="javascript:void(0)">Developers <span>623</span></a></li>
              <li><a href="javascript:void(0)">Submitters <span>53</span></a></li>
              <li class="divider"></li>
              <li class="box-label"><a href="javascript:void(0)" class="btn btn-info text-white">+ Create New User</a></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


